
    @*body*@
    <div class="mt-50 top-100 bg-primary text-white rounded">
        <center>
            <h1>welcome to"AboutUs"</h1>
            <p>created by amr khaled abass ahmed</p>
        </center>
    </div>
    @*end body*@

