


    @*body*@
    <div class="mt-50 top-100 bg-primary text-white rounded">
        <center>
            <h1>welcome to home page</h1>
            <p>created by amr khaled</p>
        </center>
    </div>
    @*end body*@
    